* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(0, 121, 191);

    .btn {
        width: 100px;
        background-color: #519839;
        text-align: center;
        color: white;
        margin: 5px;
        margin-top: 10px;
        padding: 5px;
        font-weight: 700;
        border-radius: 2px;

        &:hover {
            background-color: #49852e;
            cursor: pointer;
        }
    }

    #taskId {
        opacity: 0;
    }

    .close-btn {
        width: 18px;
        position: absolute;
        left: 130px;
        top: 3px;
        &:hover {
            cursor: pointer;
            color: #333;
        }

        svg {
            fill: grey;

            &:hover {
                fill: rgb(53, 53, 53);
                cursor: pointer;
            }
        }
    }

    .modal-btn-close {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;

        svg {
            width: 10px;
            fill: grey;

            &:hover {
                fill: rgb(53, 53, 53);
            }
        }
    }

    .close {
        background-image: url(images/close.svg);
        height: 18px;
    }

    .modalListMenu {
        width: 250px;
        position: absolute;
        z-index: 5;
        background-color: white;
        border-radius: 3px;
        box-shadow: 0 1px 6px rgba(0,0,0,.15);

        .btn {
            margin-left: 10px;
        }
        
        h4 {
            padding: 7px;
            position: relative;
            font-weight: 400;
            .modal-btn-back {
                font-size: 28px;
                position: absolute;
                left: 10px;
                top: 0;
            }
            .modal-btn-close {
                margin: 7px;
            }
        }

        hr {
            margin: 5px;
        }

        .action {
            padding: 7px;
            text-align: left;
            &:hover {
                background-color: #298fca;
                cursor: pointer;
            }
        }

        .copyList {
            label {
                display: block;
                float: left;
                margin-left: 10px;
                font-weight: 700;
            }

            textarea {
                margin-left: 5px;
                border-radius: 3px;
                border-color: lightgrey;
                max-width: 225px;
            }
        }

        .moveList {
            position: relative;

            span {
                position: absolute;
                left: 20px;
                top: 10px;
                font-size: 20px;
            }
            span:nth-of-type(2) {
                top: 80px;
            }
            select {
                height: 50px;
                margin: 10px;
                width: 90%;
                border-radius: 3px;
                background-color: lightgrey;
            }
        }
    }
}

.center {
    display: flex;
    justify-content: center;
}

.hide {
    display: none;
}

.overlay {
    margin: 0 auto;
    position: absolute;
    background-color: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    z-index: 10;

    .modalTaskForm {
        margin-top: 50px;
        width: 680px;
        height: 335px;
        background-color: lightgrey;
        
        .modalTaskFormHeader {
            position: relative;
            width: 100%;
            color: #333333;

            .task-name {
                margin: 10px 25px;
                width: 600px;
                overflow: hidden;
            }

            .cardRenameField {
                position: absolute;
                left: 19px;
                top: 10px;
                width: 600px;
                height: 20px;
                border-radius: 5px;
                padding: 5px;
                font-size: 20px;
            }
            
            .close-btn {
                top: 15px;
                left: 645px;
            }
        }

        .inList {
            margin-left: 25px;
            #inListSpan {
                font-style: italic;
            }
        }

        main {
            display: flex;
            .taskDesc {
                margin: 10px 20px;
                textarea {
                    resize: none;
                    margin: 5px;
                    padding: 5px;
                    border-radius: 5px;
                    background: rgba(0,0,0,.03);
                    border-color: rgba(0,0,0,.15);
                }
                .taskDescBtns {
                    position: relative;
                    #taskDescCancelBtn {
                        position: absolute;
                        
                    }
                }
            }
            .taskActionButtons {
                margin: 15px;
                span {
                    margin: 5px;
                    font-size: 20px;
                    font-weight: 600;
                }
                .taskFormBtn {
                    position: relative;
                    margin: 7px;
                    width: 130px;
                    text-align: center;
                    padding: 5px;
                    background-color: rgba(0,0,0,.07);
                    border-radius: 3px;
                    border: 1px solid rgba(0,0,0,.5);
                    box-shadow: 0 1px rgba(0,0,0,.3);
                    cursor: pointer;
                    &:hover {
                        background-color: rgba(0,0,0,.15);
                    }
                    span {
                        font-weight: 400;
                    }
                    .taskFormMove {
                        position: absolute;
                        top: -50px;
                        left: -15px;
                        background-color: white;
                        width: 300px;
                        height: 205px;
                        z-index: 15;
                        border-radius: 3px;
                        cursor: default;

                        h4 {
                            margin: 10px;
                            .taskFormMoveName {
                                font-size: 16px;
                            }
                            .modal-btn-close {
                                right: 5px;
                                top: 5px;
                            }
                        }
                        hr {
                            margin: 5px auto;
                            width: 95%;
                        }

                        label {
                            font-size: 15px;
                            margin: 5px;
                            text-align: left;
                            position: absolute;
                            z-index: 1;
                        }

                        .taskFormMoveListPosition {
                            display: flex;
                            position: relative;

                            .listPositionList {
                                width: 185px;
                                margin-left: 5px;
                                position: relative;
                            }

                            .listPositionPosition {
                                width: 100px;
                                position: relative;
                            }
                        }

                        select {
                            width: 90%;
                            height: 50px;
                            position: relative;
                            margin: 5px;
                            color: #333;
                            border-radius: 3px;
                            background-color: lightgrey;
                            cursor: pointer;
                        }

                        .btn {
                            margin-left: 14px;
                            margin-top: 3px;
                        }
                    }

                    .taskFormCopy {
                        position: absolute;
                        top: -80px;
                        left: -15px;
                        background-color: white;
                        width: 300px;
                        height: 305px;
                        z-index: 15;
                        border-radius: 3px;
                        cursor: default;

                        h4 {
                            margin: 10px;
                            .taskFormCopyName {
                                font-size: 16px;
                            }
                            .modal-btn-close {
                                right: 5px;
                                top: 5px;
                            }
                        }
                        hr {
                            margin: 5px auto;
                            width: 95%;
                        }

                        textarea {
                            resize: none;
                            padding: 2px;
                            border-radius: 3px;
                        }

                        label {
                            font-size: 15px;
                            margin: 5px;
                            text-align: left;
                            position: absolute;
                            z-index: 1;
                            left: 5px;
                        }

                        .labelBoard {
                            bottom: 130px;
                            left: 15px;
                        }

                        .labelList {
                            left: 10px;
                        }

                        .labelPosition {
                            left: 7px;
                        }

                        .taskFormMoveListPosition {
                            display: flex;
                            position: relative;

                            .listPositionList {
                                width: 185px;
                                margin-left: 5px;
                                position: relative;
                            }

                            .listPositionPosition {
                                width: 100px;
                                position: relative;
                            }
                        }

                        select {
                            width: 92%;
                            height: 50px;
                            position: relative;
                            margin: 5px;
                            color: #333;
                            border-radius: 3px;
                            background-color: lightgrey;
                            cursor: pointer;
                        }

                        .btn {
                            margin-left: 14px;
                            margin-top: 3px;
                        }
                    }
                }
                .taskFormBtn:first-of-type {
                    margin-top: 15px;
                }
            }
        }
    }
}

header {
    display: flex;
    justify-content: space-between;
    color: white;

    h2 {
        margin: 5px 10px;
        position: relative;
    }

    .modal {
        font-size: 18px;
        position: absolute;
        top: 30px;
        left: 7px;
        border: 1px solid grey;
        border-radius: 3px;
        background-color: white;
        z-index: 2;

        h4 {
            color: grey;
            text-align: center;
            margin: 10px;
            position: relative;
            font-weight: 400;
        }

        label {
            color: black;
            margin-left: 5px;
            display: block;
            font-weight: 700;
        }

        input {
            margin: 5px;
            background-color: lightgray;
            width: 300px;
            font-size: 16px;
            padding-left: 3px;
            &:focus {
                background-color: white;
            }
        }

        hr {
            color: grey;
            margin: 5px;
        }
    }

    #boardMenu {
        width: 100px;
        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
        
    }
}

main {
    .lists {
        width: 100%;

        .list {
            display: inline-block;
            box-sizing: border-box;
            margin: 7px;
            width: 270px;
            background: #e2e4e6;
            border-radius: 3px;
            min-height: 50px;
            vertical-align: top;

            .list-header {
                position: relative;
                margin: 10px 5px;

                .listName {
                    overflow: hidden;
                    padding-left: 10px;
                    cursor: pointer;
                }

                .list-menu {
                    position: absolute;
                    top: 0;
                    right: 5px;
                    padding: 3px;
                    border-radius: 3px;
                    width: 15px;
                    text-align: center;
                    &:hover {
                        text-decoration: underline;
                        background-color: lightgray;
                        cursor: pointer;
                    }

                    
                }

                .listRenameField {
                    position: absolute;
                    left: 5px;
                    top: 0;
                    width: 225px;
                }
            }

            .cards {
                margin: 5px 5px;

                .card {
                    overflow: hidden;
                    background-color: white;
                    width: 240px;
                    margin: 5px;
                    padding: 5px;
                    border-radius: 3px;
                    &:hover {
                        background-color: lightgrey;
                        background-image: url(images/edit.svg);
                        cursor: pointer;
                    }
                }
            }

            .list-footer {

                .addCardForm {
                    margin: 5px;
                    position: relative;

                    textarea {
                        margin-left: 5px;
                        border-radius: 3px;
                        border-color: white;
                    }

                    .close-btn {
                        top: 96px;
                    }
                }

                .addCard {
                    padding: 5px;
                    padding-left: 15px;
                    box-sizing: border-box;
                    border-radius: 3px;
                    &:hover {
                        text-decoration: underline;
                        background-color: lightgrey;
                        cursor: pointer;
                    }
                }
            }
        }

        .addList {
            display: inline-block;
            box-sizing: border-box;
            margin: 7px;
            width: 270px;
            background: rgba(0,0,0,.12);
            border-radius: 3px;
            min-height: 30px;
            vertical-align: top;
            
            input {
                box-sizing: border-box;
                width: 100%;
                border: none;
                color: white;
                background-color: transparent;
                padding: 7px;
                &::placeholder {
                    color: lightgray;
                }
            }

            .addList-footer {
                position: relative;
                
                
            }
        }
    }
}