* {
    margin: 0;
    padding: 0;
}

.text {
    margin: 5px;
    width: 415px;
    overflow: hidden;
}

body {
    height: 90%;
    width: 90%;
    background-color: #f5f5f5;
}

h1 {
    font-size: 70px;
    font-weight: 100;
    text-align: center;
    color: #334d5c;
    margin: 0;
}

#inp {
    height: 30px;
    width: 88%;
    margin: 7px;
    font-size: 22px;
    color: #333;
    border: 0;
    padding-left: 4px;
}

#inp:focus {
    border: 0;
}

input[type='checkbox'] {
    width: 25px;
    height: 25px;
    margin: 7px;
    margin-left: 10px;
}

input[type='checkbox']:checked+p {
    color: grey;
    text-decoration: line-through;
}

.task {
    color: #333;
    font-size: 22px;
    display: flex;
}

.task:hover>.close-btn {
    visibility: visible;
}

#allComplete {
    visibility: hidden;
    float: left;
    margin-top: 12px;
}

.close-btn {
    width: 20px;
    height: 20px;
    background-image: url(close.svg);
    margin-top: 5px;
    visibility: hidden;
}

section {
    margin: 0 auto;
    border: 1px solid grey;
    width: 500px;
    background-color: #fff;
}

footer {
    visibility: hidden;
    margin: 0 auto 25px;
    border: 1px solid grey;
    border-top: 0;
    width: 500px;
    background-color: #fff;
    display: flex;
}

.btn {
    margin: 3px;
    padding: 3px 7px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 3px;
}

#itemsLeft {
    margin: 3px;
    padding: 3px 7px;
}

#btnAll {
    margin-left: 60px;
}

#clearComplete {
    visibility: hidden;
    margin: 3px;
    padding: 3px 7px;
    margin-left: 43px;
}

#clearComplete:hover {
    text-decoration: underline;
    cursor: pointer;
}